/* Reset default styles */
* {
    box-sizing: border-box;
}

/* General styling */
body {
    font-family: 'Poppins', 'Tenali Ramakrishna', 'NotoSans Telugu', sans-serif;
}

/* Sections */
.section-1, .section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 235, 205, 0.103);
}

/* Styling for social buttons */
.social-btn i {
    font-size: 18px;
    margin: 12px 9px;
    color: rgba(22, 33, 138, 0.637);
}

.social-btn i:hover {
    color: steelblue;
}

/* Phone appointment section */
.phone-appointment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone-number {
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 20px;
}

.appointment button {
    border: none;
    background-color: rgba(62, 67, 143, 0.493);
    font-size: 18px;
    color: honeydew;
    outline: none;
    padding: 10px 12px;
    border-radius: 30px;
    margin: 0 15px;
    transition: box-shadow 0.5s;
}

.appointment button:hover {
    box-shadow: 0px 0px 10px rgb(0, 2, 128);
}

/* Navigation */
nav {
    background-color: rgba(206, 195, 41, 0.178);
    text-align: center;
}

nav ul {
    cursor: default;
    display: inline-flex;
}

nav ul li {
    list-style: none;
    position: relative;
}

nav ul li a {
    color: black;
    font-size: 18px;
    padding: 5px 12px;
    margin: 0 5px;
    font-weight: 500;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-radius: 0 15px;
}

nav ul li a:hover {
    background-color: lightgoldenrodyellow;
    border-bottom: 4px solid brown;
}

nav ul li ul {
    display: none;
    position: absolute;
}

nav ul li:hover ul {
    display: block;
    position: relative;
}

/* Toggle Button */
#toggle {
    display: none;
}

#toggle-btn {
    text-align: right;
    display: none;
}

#toggle-btn i {
    font-size: 21px;
    padding: 7px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Wrapper */
.wrapper {
    min-height: 100%;
}

/* Text styling */
.text {
    padding-right: 100px;
    padding-left: 100px;
}

.text1 {
    padding-right: 300px;
}

/* Contact form */
.contact-map iframe {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.contact-form {
    width: 50%;
    height: auto;
    margin: 25px;
    text-align: left;
    padding: 10px;
    background: rgba(76, 107, 175, 0.3);
    border-radius: 0 100px;
}

.contact-form h1 {
    margin-bottom: 10px;
}

.contact-form-text,
.contact-form-textarea {
    width: 100%;
    color: #000;
    margin-bottom: 20px;
    padding: 15px;
}

.textarea {
    resize: vertical;
}

.contact-form-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0 50px;
    background-color: blue;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

.status {
    width: 90%;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 15px;
}

.status .success {
    color: rgb(30, 131, 80);
    animation: status 4s ease forwards;
}

.status .error {
    color: rgb(223, 33, 33);
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

/* Form styling */
body1 {
    width: 60%;
    height: auto;
    margin: 20px;
    padding: 20px;
}

div.elem-group {
    margin-right: 25%;
    margin-left: 25%;
}

input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
}

textarea {
    height: 250px;
}

button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}

/* Table styling */
table {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    border-collapse: separate;
    width: 100%;
    height: 100px;
    border-radius: 20px;
}

td, th {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

tr {
    background-color: rgba(248, 248, 244, 0.568);
}

/* Responsive design */
/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Open Sans", sans-serif;
}

body {
 height: 100%;
 width: 100%;
 background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
}

.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px 15px;
}

.navbar .logo a {
 font-size: 1.8rem;
 text-decoration: none;
 color: #fff;
}

.navbar .links {
 display: flex;
 align-items: center;
 list-style: none;
 gap: 35px;
}

.navbar .links a {
 font-weight: 500;
 text-decoration: none;
 color: #fff;
 padding: 10px 0;
 transition: 0.2s ease;
}

.navbar .links a:hover {
 color: #47b2e4;
}

.navbar .buttons a {
 text-decoration: none;
 color: #fff;
 font-size: 1rem;
 padding: 15px 0;
 transition: 0.2s ease;
 display: inline-block;
}

.navbar .buttons a:not(:last-child) {
 margin-right: 30px;
}

.navbar .buttons .signin:hover {
 color: #47b2e4;
}

.navbar .buttons .signup {
 border: 1px solid #fff;
 padding: 10px 20px;
 border-radius: 0.375rem;
 text-align: center;
 transition: 0.2s ease;
}

.navbar .buttons .signup:hover {
 background-color: #47b2e4;
 color: #fff;
}

.hero-section {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 95vh;
 padding: 0 15px;
 max-width: 1200px;
 margin: 0 auto;
}

.hero-section .hero {
 max-width: 50%;
 color: #fff;
}

.hero h2 {
 font-size: 2.5rem;
 margin-bottom: 20px;
}

.hero p {
 font-size: 1.2rem;
 margin-bottom: 20px;
 color: #c9c7c7;
}

.hero-section .img img {
 width: 517px;
}

.hero-section .buttons {
 margin-top: 40px;
}

.hero-section .buttons a {
 text-decoration: none;
 color: #fff;
 padding: 12px 24px;
 border-radius: 0.375rem;
 font-weight: 600;
 transition: 0.2s ease;
 display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
 margin-right: 15px;
}

.buttons .join {
 background-color: #47b2e4;
}

.hero-section .buttons .learn {
 border: 1px solid #fff;
 border-radius: 0.375rem;
}

.hero-section .buttons a:hover {
 background-color: #47b2e4;
}

/* Hamburger menu styles */
#menu-toggle {
 display: none;
}

#hamburger-btn {
 font-size: 1.8rem;
 color: #fff;
 cursor: pointer;
 display: none;
 order: 1;
}

@media screen and (max-width: 1023px)
{
 .navbar .logo a {
   font-size: 1.5rem;
 }

 .links {
   position: fixed;
   left: -100%;
   top: 75px;
   width: 100%;
   height: 100vh;
   padding-top: 50px;
   background: #175d69;
   flex-direction: column;
   transition: 0.3s ease;
 }

 .navbar #menu-toggle:checked ~ .links {
   left: 0;
 }

 .navbar #hamburger-btn {
   display: block;
 }

 .header .buttons {
   display: none;
 }

 .hero-section .hero {
   max-width: 100%;
   text-align: center;
 }

 .hero-section img {
   display: none;
 }
}
